body {
  margin-top: 60px;
  overflow-x: hidden;
  width: 100%;
}
p {
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

.navbar-collapse ul li a {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.navbar-brand img {
  height: 40px;
}

.dropdown-item, .nav-item {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-item {
  color: #000;
}

.dropdown-item:hover {
  background-color: #5eaaa8;
}
.sign{
margin: 2px;
}

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  height: 3000px;
  width: 100%;
  z-index: -1;
}

.hero .hero-center h1 {
  font-family: 'Lato', sans-serif;
  color: #1a1a2e;
}

.hero .hero-center h1 img {
  height: 64px;
}

.hero {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  color: #FFF;
  text-align: center;
}

.hero-center {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.wrap {
  justify-content: center;

}

.about {
  padding: 12px;
  visibility: visible;
}
.boxes {
  background-color:transparent;
  border-radius: 20px;
  padding: 22px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}
.box-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
}
.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.box-3{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.progress-container {
  width: 100%;
  height: 4px;
  background: #fff;
  position:absolute;
  left:0;
  bottom:0;
  z-index: 1030;
}
.progress-bar {
  height: 4px;
  background: #145374;
  width: 0%;
}
/* .backgrounds {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: -2;
}

.backgrounds .background {
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0px;
  background-attachment: fixed;
  background-image: url('images/.png');
}

.overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  background-color: #fff;
  opacity: 0.5;
} */
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.social-media .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.social-media .button .icon {
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.social-media .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.social-media .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.social-media .button:nth-child(3):hover .icon {
  background: #1DA1F2;
}

.social-media .button:nth-child(4):hover .icon {
  background: #d6e0f0;
}

.social-media .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.social-media .button:hover .icon i {
  color: #fff;
}
#end{
  box-sizing:border-box;
}
#end .foo{
  border-top: 1px solid; background-color:#848ccf;text-align:center;padding:15px;
}
#end .foo .foo-box img{
  height:40px;
}
@media only screen and (max-width:700px) {
  .boxes {
    width: 85%;
    margin:10px auto;
    position: relative;
    overflow-x: hidden;
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
  }

  .navbar .nav-item:hover .nav-link {
    color: #000;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
