html,
body {
  height: 100%;
  margin-top: 20px;
}

p {
  font-size: 0.7rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  height:100%;
  width: 100%;
z-index: -999;
}

.or-seperator{
  margin: 30px 0 15px;
  text-align: center;
  border-top: 1px solid grey;
}
.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1
}
.signup-form{
  max-width: 450px;
  margin: 0 auto;
padding: 30px 0;
}
.signup-form form{
  border-radius: 5px;
  margin-bottom: 20px;
  background: transparent;
padding: 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-form .form-group{
  margin-bottom: 20px;
}
.social-btn .btn {
  text-align: center;
  line-height: 26px;
  border: none;
  border-radius: 50px;
  margin: 10px 0 0 15px;
}
.social-btn .btn i{
  float: left;
  margin: 3px 10px;
  font-size: 20px;
}
.form-control{
  border-radius: 50px;
  outline: none !important;
}
 #progress{
  height: 5px;
  width: 60%;
  margin-top: 0.5rem;
margin-bottom: 0.3rem;
margin-left: 0.4rem;

}
.form-control .btn{
  border-radius: 50px;
}


#progress-bar {
  width: 0%;
    border-radius: 50px;
  height: 100%;
  transition: width 500ms linear;
}
.progress-bar-danger {
  background: #d00;
}

.progress-bar-warning {
  background: #f50;
}

.progress-bar-success {
  background: #080;
}
span{
  font-family: "Montserrat",sans-serif;
font-size: 0.8rem;
}
@media only screen and (max-width: 700px){
  body{
    margin-top:18px;
  }
}
