/* html tags */

body {
  margin-top: 60px;
  overflow-x: hidden;
  width: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

#head {
  height: 600px;
  width: 100%;
}

#title {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* iframe {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
} */

/* id's */

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  height: 3000px;
  width: 100%;
  z-index: -1;
}

#second .boxes {
  background: #40a8c4;
}

#fourth {
  background-color: #0072B5;
  color: white;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  visibility: visible;
}

#fourth h2 {
  font-family: 'Montserrat', sans-serif;
}

#fourth .container-fluid .heading {
  margin-bottom: 25px;
  text-align: center;
}

#fourth .container-fluid .body {
  text-align: center;
}

#fifth .boxes {
  background: #eeeeee;
  border-radius: 0px;
  margin-bottom: 0;
}
#fifth .box-1 {
  margin-bottom: 20px;
}
#fifth .feature-box p{
  font-size: 0.8rem;
}

/* end refers to footer section */
#end {
  box-sizing: border-box;
}
#end .foo {
  border-top: 1px solid;
  background-color: #848ccf;
  text-align: center;
  padding: 15px;
}
#end .foo .foo-box img {
  height: 40px;
}

/* classes */

/* navbar */
.arrow {
  text-align: center;
  margin-bottom: 60px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
}
.navbar-collapse ul li a {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}
.dropdown-item {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.dropdown-item:hover {
  background-color: #5eaaa8;
}
.sign{
margin: 2px;
}
/* progress bar */
.progress-container {
  width: 100%;
  height: 4px;
  background: #fff;
 position:absolute;
  left:0;
  bottom:0;
  z-index: 1030;
 -webkit-transform:transform3d(0,0,0);
  -webkit-overflow-scrolling: touch;

}
.progress-bar {
  height: 4px;
  background: #145374;
  width: 0%;
}
/* home page header */
#head h1 {
  font-family: 'Lato', sans-serif;
  color: #1a1a2e;
}
/* .hero .hero-center h1 img {
  height: 64px;
} */
/* .hero {
  width: 100%;
  height: 70vh;

  overflow-x: hidden;
  color: #FFF;
  text-align: center;
} */
/* .hero-center {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
} */
/* home page background */
/* .backgrounds {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: -2;
} */
/* .backgrounds .background {
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0px;
  background-attachment: fixed;
  background-image: url('images/home.jpg');
} */
/* .overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  background-color: #fff;
  opacity: 0.5;
} */
/* carousel */
.carousel-body img {
  padding-bottom: 5px;
}
.carousel-body {
  padding: 20px 40px 40px 40px;
  text-align: center;
}
.carousel-image{
  padding-bottom: 5px;
}
  #first .boxes{
    height: 430px;
  }

/* master div */
/* .wrap {
  justify-content: center;
} */
/* sections --> boxes */
.boxes {
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}
/* wrap-->sections-->boxes-->box-1 */
.box-1 {
  display: flex;
/*   text-align: center;
  align-items: center; */
  justify-content: center;
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
}
/* wrap-->sections-->boxes-->box-2 */
.box-2 {
  display: flex;
  flex-direction: column;
/*   align-items: center; */
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
/* wrap-->sections-->boxes-->box-3*/
.box-3{
  display: flex;
  flex-direction: column;
/*   text-align: center;
  align-items: center; */
  justify-content: center;
}
/* bootstrap cards */
.card-deck .row {
  margin: auto;
}
.card {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}



.about {
/*   padding: 12px; */
/*   visibility: visible; */
}




/* section 5 bootstrap grids */
.feature-box {
  text-align: center;
  margin-bottom: 15px;
}
.feature-box .icon {
  margin-bottom: 20px;
  color: #d63447;
}
.feature-box .icon:hover {
  color: #32e0c4;
}
/* footer section social media icons */
.social-media {
  display: flex;
/*   align-items: center; */
  justify-content: center;
/*   margin-left: auto;
  margin-right: auto; */
  padding: 20px;
}
.social-media .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.social-media .button .icon {
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.social-media .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.social-media .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.social-media .button:nth-child(3):hover .icon {
  background: #1DA1F2;
}

.social-media .button:nth-child(4):hover .icon {
  background: #d6e0f0;
}

.social-media .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.social-media .button:hover .icon i {
  color: #fff;
}
/* media query to show drop items on hover */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #000;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
/* media query for responsiveness in small screens */
@media only screen and (max-width:700px) {
  .boxes {
/*     width: 85%; */
    margin: 10px auto;
/* position:absolute; */
    overflow-x: hidden;
  }
/*   .hero {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow-x: hidden;
  color: #FFF;
  text-align: center;
} */

  .progress-container {
    height: 3px;
  }

  .progress-bar {
    height: 3px;
  }

/*   .backgrounds .background {
    background-image: none;
    background-color: #fefefe;
  } */

  i {
    display: block;
  }

/*   iframe {
    display: flex;
  } */
  #first .boxes{
    height:540px;
  }

/*   #fourth {
    width: 85%;
    margin: 10px auto;
    position: relative;
    overflow-x: hidden;
  } */

  #fourth .container-fluid .body {
    text-align: left;
  }

  #fifth p {
    text-align: center;
  }
}
